<mat-form-field style="margin-top: -1em">
  <mat-select
    [disabled]="disabled"
    (selectionChange)="emitValueChange()"
    (openedChange)="loadOptions()"
    #singleSelect
    disableOptionCentering
    panelClass="myPanelClass"
    [placeholder]="placeholderSelect"
    [(ngModel)]="ngModel"
  >
    <!-- Barre de recherche -->
    <mat-option disabled class="dropdown-input-option" *ngIf="filter">
      <input
        #dropdownInput
        (keyup)="onKey()"
        (keydown)="$event.stopPropagation()"
        [placeholder]="placeholderDropdownInput"
        class="dropdown-input"
        [(ngModel)]="dropdownInputContent"
      />
    </mat-option>

    <!-- Options -->
    <mat-option
      *ngFor="let element of filteredValue"
      [value]="element[optionValue]"
      [disabled]="element[optionDisabled]"
    >
      {{ element[optionLabel] }}
    </mat-option>

    <!-- Option lorsque pas d'option -->
    <mat-option *ngIf="filteredValue.length === 0" disabled>{{
      noOptionLabel
    }}</mat-option>
  </mat-select>

  <mat-icon
    class="h-4 w-4 separate-icon"
    mat-icon-button
    matSuffix
    (click)="deleteContent($event)"
    aria-hidden="true"
    [ngClass]="{
      'hide-icon': [null, undefined].includes(this.ngModel) || disabled
    }"
    >clear</mat-icon
  >

  <mat-icon
    class="h-4 w-4 separate-icon"
    mat-icon-button
    matSuffix
    aria-hidden="true"
    >keyboard_arrow_down</mat-icon
  >
</mat-form-field>
